#Blender's cache folder
__pycache__

#Blender's backup files
*.blend1
*.blend.gz1

*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
tests/sverchok_tests.log

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

#OS Specific files
.directory
.DS
__MACOSX
.kdev4/
*.kdev4

#Ignore KDE's backup files
#thanks, i have trouobles
#with this sometimes in gedit
*~


#Ignore sphinx build folder
docs/404_custom.html
docs/_build
docs/_sources
docs/.make.bat.swp

nodes/generator/meta_balls.py

# IDE
.idea
.DS_Store

# vim swap files
*.swp

local_test.py
htmlcov/

